html {
	font-size: 16px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 80px;
	margin-right: 80px;
	background-color: #ffffff;
	color: #666666;
	font-size: 2rem;
	line-height: 1.25;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.5rem;
}
h5, h6 {
	font-size: 2rem;
}
p {
	font-size: 2rem;
}
@media (min-width: 768px) {
	body {
		font-size: 1rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	h5, h6 {
		font-size: 1rem;
	}
	p {
		font-size: 1rem;
	}
}
a {
	color: #6699cc;
	text-decoration: none;
	transition: color 1s;
}
a:hover {
	color: #666666;
}
#header a {
	color: #999999;
}
figure {
	text-align: center;
}
figcaption {
	color: #999999;
}
li {
	padding-left: 20px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 60px;
	padding-right: 60px;
	width: 100%;
	background-color: rgba(250, 250, 250, 0.9);
	z-index: 10;
}
#header #branding {
	padding: 20px 0;
}
#header #branding a {
	padding: 20px;
}
#header #menu {
	position: absolute;
	top: 0;
	right: 0px;
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px 0;
}
#header #menu a {
	padding: 20px;
}
#container {
	max-width: 720px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
#container div, #container p, #container ul, #container figure {
	margin-top: 20px;
	margin-bottom: 20px;
}
#container img {
	max-width: 720px;
	max-height: calc(100vh - 160px);
}
.grid-container {
	display: grid;
	grid-template-columns: 25% auto;
}
@media only screen and (min-width: 768px) {
	.grid-container {
		grid-template-columns: calc(100% / 6) auto;
	}
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: inline-block;
	padding: 20px 80px;
	background-color: rgba(250, 250, 250, 0.9);
	z-index: 10;
	text-align: center;
	color: #cccccc;
}
